header {
	color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}


div.logoImg {
	left: 20px;
	background-image:url("../images/logo.png");
	height: 100%;
	background-repeat: no-repeat;
	position: relative;
}